<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- =========================================== -->
    <!-- ========== FRONT CAMERA SENSOR ============ -->
    <!-- =========================================== -->
    <gazebo reference="f_rgbd_link">
        <sensor name="front_camera" type="rgbd_camera">
            <update_rate>30</update_rate>
            <visualize>true</visualize>
            <topic>camera/front</topic>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <width>1920</width>
                    <height>1080</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>20.0</far>
                </clip>
            </camera>
        </sensor>
    </gazebo>

    <!-- =========================================== -->
    <!-- =========== REAR CAMERA SENSOR ============ -->
    <!-- =========================================== -->
    <gazebo reference="r_rgbd_link">
        <sensor name="rear_camera" type="rgbd_camera">
            <update_rate>20</update_rate>
            <always_on>1</always_on>
            <visualize>true</visualize>
            <topic>camera/rear</topic>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>20.0</far>
                </clip>
            </camera>
        </sensor>
    </gazebo>

    <!-- =========================================== -->
    <!-- ========== FRONT LIDAR SENSOR ============= -->
    <!-- =========================================== -->
    <gazebo reference="f_lidar_link">
        <sensor name="front_lidar" type="gpu_lidar">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <topic>lidar/front/scan</topic>
            <gz_frame_id>f_lidar_link</gz_frame_id>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>16</samples>
                        <resolution>1</resolution>
                        <min_angle>-0.2618</min_angle>
                        <max_angle>0.2618</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12.0</max>
                    <resolution>0.01</resolution>
                </range>
            </lidar>
        </sensor>
    </gazebo>

    <!-- =========================================== -->
    <!-- ========== REAR LIDAR SENSOR =============== -->
    <!-- =========================================== -->
    <gazebo reference="r_lidar_link">
        <sensor name="rear_lidar" type="gpu_lidar">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <topic>lidar/rear/scan</topic>
            <gz_frame_id>r_lidar_link</gz_frame_id>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>16</samples>
                        <resolution>1</resolution>
                        <min_angle>-0.2618</min_angle>
                        <max_angle>0.2618</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12.0</max>
                    <resolution>0.01</resolution>
                </range>
            </lidar>
        </sensor>
    </gazebo>
</robot>
